.bg-azul
{
    background-color: #2980B9;
}

.bg-azul-dark
{
    background-color: #2572A4;
}

#menu > li:hover 
{
    background-color: white;
}

#menu > li > a
{
    color: white;
}

#menu > li:hover > a
{
    color: black;
}

.menu-dark
{
    background-color: #434A54;
}

.menu-dark > li > a
{
    color: white;
}

.menu-dark > li > a:hover 
{
    background-color: #383F49;
    color: white;
}

::-webkit-input-placeholder
{
    font-style: italic;
}