table
{
    width: 50%;
    border: 3px solid lightgray;
    background-color: #FEFF99;
}

th
{
    background-color: white;
}

th, td
{
    border: 1px solid;
    text-align: center;
}

.tabla
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;
    background-image: url(../img/puinguinos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}