body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 720px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

#about {
    width: 13em;
}

#leftNav {
    /* position: absolute;
    left: 2%; */
}

#rightNav {
    /* position: absolute;
    right: 10%; */
}

#rightNav li {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#leftNav li {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 2%;
}

#container button {
    margin: 2%;
    padding: 10px;
}

#container input {
    padding: 5px;
    width: 30%;
    border-color: #E1E3E7;
    border-radius: 20px;
}

a {
    text-decoration: none;
}

footer {
    background-color: #F2F2F2;
}

#foot1, #foot2{
    width: 100%;
    height: 50px;
    
}

#foot1 {
    display: flex;
    border-bottom: 1px solid gray;
}

#foot1 > p {
    margin-left: 2%;
}

#foot2 {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#foot2 li {
    padding-left: 5%;
    padding-right: 5%;
}

.comoFunciona {
    width: 22em;: ;
}

.bg-gray {
    background-color: lightgray;
    padding: 5%;
    padding-bottom: 5%;
}

.bg-rounded {
    border-radius: 100%;
    background-color: lightgray;
    padding: 15px 15px 6px 15px;
    
}

.azul {
    color: #4285F4;
}

.rojo {
    color: #EA4335;
}

.amarillo {
    color: #FBBC05;
}

.verde {
    color: #34A853;
}
